    </div>
    <footer class="container-fluid bg-light clearfix" style="margin-top: 2em; padding: 1em">
      <div class="container logos">
        <a href="https://www.gbv.de/"><img src="/img/vzg-300px.png"></a>
        <a href="https://coli-conc.gbv.de/"><img src="/img/coli-conc.png"></a>
        <a href="http://www.isko.org/"><img src="/img/logo-isko.png"></a>
        <a href="http://www.vocabularyserver.com/"><img src="/img/logo-tematres-home.png"></a>
        <a href="https://dans.knaw.nl/en"><img src="/img/danslogo.png"></a>
      </div>
    </footer>
    <footer class="container-fluid text-secondary bg-dark clearfix">
      <div class="container">
        <div class="row">
          <div class="col-md-10">
            <p>
              <%= config.name %> vocabulary metadata is
              <a href="/download">made available</a> under the
              <a href="http://www.opendatacommons.org/licenses/pddl/1.0/">PDDL 1.0</a>
            </p>
          </div>
          <div class="col-md-2">
            <p class="text-right">
             <% if (locals.item) { %>
              <a href="/api/data?uri=<%= item.uri %>">JSON</a>
             <% } else if (locals.api && locals.query) { %>
              <a href="/api/<%= api + "?" + querystring.stringify(query) %>">JSON</a>
             <% } %>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 text-muted">
            <ul class="list-inline">
              <li class="list-inline-item"><a href="/api/">API</a></li>
              <li class="list-inline-item"><a href="/download">download</a></li>
              <li class="list-inline-item"><a rel="me" href="https://code4lib.social/@bartoc">Mastodon</a></li>
              <li class="list-inline-item"><a href="https://github.com/gbv/bartoc.org">sources</a></li>
              <li class="list-inline-item"><a href="https://github.com/gbv/bartoc.org/issues">issues</a></li>
            </ul>
          </div>
          <div class="col-md-2">
            <% if (locals.item) { %>
            <ul class="list-inline text-right">
              <li class="list-inline-item"><a href="/api/"><a href="/vocabularies?uri=<%= item.uri %>&format=nt">RDF</a></li>
              <li class="list-inline-item"><a href="/api/"><a href="/vocabularies?uri=<%= item.uri %>&format=rdfxml">XML</a></li>
            </ul>
            <% } %>
          </div>
        </div>
      </div>
    </footer>
  </div>
</body>
</html>
