    </div>
    <footer class="container-fluid bg-light clearfix" style="margin-top: 2em; padding: 1em">
      <div class="container">
        <a href="http://www.ub.unibas.ch/"><img src="/img/ub_logo_neu.png"></a>
        <a href="https://coli-conc.gbv.de/"><img src="/img/coli-conc.png"></a>
        <a href="http://www.isko.org/"><img src="/img/logo-isko.png"></a>
        <a href="http://www.vocabularyserver.com/"><img src="/img/logo-tematres-home.png"></a>
        <a href="https://dans.knaw.nl/en"><img src="/img/danslogo.png"></a>
      </div>
    </footer>
    <footer class="container-fluid text-secondary bg-dark clearfix">
      <div class="container">
        <div class="row">
          <div class="col-md-10">
            <p>
              <%= config.name %> data is
              <a href="/download">made available</a> under the
              <a href="<%= config.license.url %>"><%= config.license.name %></a>
            </p>
          </div>
          <% if (locals.item) { %>
           <div class="col-md-2">
            <p class="text-right">
              <a href="<%= utils.buildQuery({...query, format:"json"}) %>">JSON</a> |
              <a href="<%= utils.buildQuery({...query, format:"nt"}) %>">RDF</a>
            </p>
           </div>
          <% } %>
        </div>
        <div class="row">
         <div class="col text-muted">
           <a href="https://github.com/gbv/bartoc.org">sources</a>
         </div>
        </div>
      </div>
    </footer>
  </body>
</html>
<!--script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script-->
