    </div>
    <footer class="container-fluid bg-light clearfix" style="margin-top: 2em; padding: 1em">
      <div class="container">
        <a href="https://coli-conc.gbv.de/"><img src="/img/coli-conc.png"></a>
        <a href="http://www.isko.org/"><img src="/img/logo-isko.png"></a>
        <a href="http://www.vocabularyserver.com/"><img src="/img/logo-tematres-home.png"></a>
        <a href="https://dans.knaw.nl/en"><img src="/img/danslogo.png"></a>
      </div>
    </footer>
    <footer class="container-fluid text-secondary bg-dark clearfix">
      <div class="container">
        <div class="row">
          <div class="col-md-10">
            <p>
              <%= config.name %> vocabulary metadata is
              <a href="/download">made available</a> under the
              <a href="<%= config.license.url %>"><%= config.license.name %></a>
            </p>
          </div>
          <% if (locals.item) { %>
            <div class="col-md-2">
            <p class="text-right">
              <a href="<%= utils.buildQuery({...query, format:"json"}) %>">JSON</a> |
              <a href="<%= utils.buildQuery({...query, format:"nt"}) %>">RDF</a>
            </p>
            </div>
          <% } %>
        </div>
        <div class="row">
          <div class="col text-muted">
            <ul class="list-inline">
              <li class="list-inline-item"><a href="/api/">API</a></li>
              <li class="list-inline-item"><a href="/download">download</a></li>
              <li class="list-inline-item"><a href="https://github.com/gbv/bartoc.org">sources</a></li>
              <li class="list-inline-item"><a href="https://github.com/gbv/bartoc.org/issues">issues</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <script src="<%= config.vue.assetPrefix %>js/chunk-vendors.js"></script>
  <script src="<%= config.vue.assetPrefix %>js/app.js"></script>
</body>
</html>
