    </div>
    <footer class="container-fluid text-secondary bg-dark clearfix">
      <div class="container">
        <div class="row">
          <div>
            <p>
              <%= config.name %> vocabulary metadata is
              <a href="/download">made available</a> under the
              <a href="http://www.opendatacommons.org/licenses/pddl/1.0/">PDDL 1.0</a>
            </p>
          </div>
          <div class="col-md-2">
            <p class="text-right">
             <% if (locals.item) { %>
              <a href="/api/data?uri=<%= item.uri %>">JSON</a>
             <% } else if (locals.api && locals.query) { %>
              <a href="/api/<%= api + "?" + querystring.stringify(query) %>">JSON</a>
             <% } %>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="text-muted">
            <ul class="list-inline">
              <li class="list-inline-item"><a href="/api/">API</a></li>
              <li class="list-inline-item"><a href="/download">download</a></li>
              <li class="list-inline-item"><a rel="me" href="https://code4lib.social/@bartoc">Mastodon</a></li>
              <li class="list-inline-item"><a href="https://github.com/gbv/bartoc.org">sources</a></li>
              <li class="list-inline-item"><a href="https://github.com/gbv/bartoc.org/issues">issues</a></li>
            </ul>
          </div>
          <div class="col-md-2">
            <% if (locals.item) { %>
            <ul class="list-inline text-right">
              <li class="list-inline-item"><a href="/api/"><a href="/vocabularies?uri=<%= item.uri %>&format=nt">RDF</a></li>
              <li class="list-inline-item"><a href="/api/"><a href="/vocabularies?uri=<%= item.uri %>&format=rdfxml">XML</a></li>
            </ul>
            <% } %>
          </div>
        </div>
      </div>
    </footer>
  </div>
</body>
</html>
