<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/img/bartoc-icon.png" type="image/png" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/fontawesome.min.css">
    <title><%= config.name %><%= title ? ": " + title : "" %></title>
  </head>
  <body>
    <div id="app">
      <header class="navbar navbar-dark bg-primary navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="/"><%= config.name %></a>
          <ul class="navbar-nav mr-auto">
            <% config.menu.forEach( item => { %>
            <li class="nav-item <%= item.url == path ? 'active' : '' %>">
              <a class="nav-link" href="<%= item.url %>"><%= item.prefLabel.en %></a>
            </li>
            <% }) %>
          </ul>
        </div>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item <%= path == '/stats' ? 'active' : '' %>">
            <a class="nav-link" href="/stats">Statistics</a>
          </li>
          <li v-cloak>
            <user-status :login="login" @update:user="updateUser" @update:auth="updateAuth"/>
          </li>
          <li v-cloak v-if="userCanAdd">
            <a class="btn btn-success" href="/edit">add</a>
          </li>
        </ul>
      </header>
      <div class="container">
        <% if (locals.button) { %><%- locals.button %><% } %>
        <% if(title) { %>
        <h1><%= title %></h1>
        <% } %>
