<%- include('header') %>
<%- include('definition') %>

<dl>
  <dt>Link</dt>
  <dd><%- include('link', { url: item.url }) %></dd>
  <% if (item.endpoint) { %>
    <dt>API</dt>
    <dd><%- include('link', { url: item.endpoint }) %></dd>
  <% } %>
  <% if (item.startDate) { %>
    <dt>Created</dt>
    <dd><%= item.startDate %></dd>
  <% } %>
  <% if (item.endDate) { %>
    <dt>Dissolved</dt>
    <dd><%= item.endDate %></dd>
  <% } %>
  <% wikidata = (item.identifier || []).filter(id => id.startsWith("http://www.wikidata.org/entity"))
     if (wikidata.length) { %>
    <dt>Wikidata</dt>
    <dd><%- include('link', { url: wikidata[0] }) %></dd>
  <% } %>
  <% if (item.subject) { %>
    <dt>Topic</dt>
    <dd>
      <ul>
      <% for(let subject of item.subject) {
          url = "/search?subject=" + encodeURI(subject.uri)
        %>
        <li><%- include('link', { url, label: subject.uri }) %></li>
      <% } %>
      </ul>
    </dd>
  <% } %>
  <dt>Type</dt>
  <dd>
    <% if ((item.type || [])[1] === "http://bartoc.org/full-repository") { %>
      <a href="/full-repository">
         terminology
         <%= item.endpoint ? "service" : "repository" %>
      </a>
    <% } else { %>
      terminology registry
    <% } %>
  </dd>
</dl>

<!-- TODO: created, modified -->

<%- include('footer') %>
