<%- include('header') %>
<%- include('definition') %>

<table class="table">
  <%- include('row', { icon: 'link', label: 'URI', content: include('link', { url: item.uri })}) %>
  <%- include('row', { icon: 'cog', label: 'API', content: include('link', { url: item.endpoint })}) %>

  <!-- TODO: alternative titles and English Title -->
  <%- include('row', { icon: 'home', label: 'Homepage', content: include('link', { url: item.url })}) %>
  <%- include('row-list', { icon: 'star', label: 'Identifiers', list: item.identifier }) %>
  <%- include('row', { icon: 'calendar', label: 'Created', content: item.startDate }) %>
  <%- include('row', { icon: 'calendar', label: 'Dissolved', content: item.endDate }) %>
  <!-- TODO: access (free...) -->
  <%- include('row-list', { icon: 'id', label: 'Languages', list: item.languages }) %>
  <% if (item.subject) {
    let view = s => s
    //url = "/registry?subject=" + encodeURI(subject.uri)
    // include('link', { url, label: subject.uri })
  %>
    <%- include('row-list', { label: 'Subject', list: item.subjects, view }) %>
  <% } %>
  <%- include('row-list', { label: 'Publisher', list: item.publisher }) %>
  <%- include('row-list', { label: 'License', list: item.license }) %>
  <!-- TODO: Wikidata -->
  <tr>
  <td>Type</td>
  <td>
    <% if ((item.type || [])[1] === "http://bartoc.org/full-repository") { %>
      <a href="/full-repository">
         terminology
         <%= item.endpoint ? "service" : "repository" %>
      </a>
    <% } else { %>
      terminology registry
    <% } %>
  </td>
</table>

<!--
 wikidata = (item.identifier || []).filter(id => id.startsWith("http://www.wikidata.org/entity"))[0]
 if (wikidata) { .. }

-->



<%- include('item-dates') %>

<%- include('footer') %>
