<%- include('header') %>

<% let items = query.type === "http://bartoc.org/full-repository" ? repositories : registries %>
<p>
  BARTOC knows about <a href="/registries"><%= registries.length %> terminology registries</a>,
  including itself.
  <a href="/registries?type=http://bartoc.org/full-repository">
    <%= repositories.length %> registries</a>
  also provide access to full terminologies
  either via an API (terminology <b>service</b>) or by other means
  (terminology <b>repository</b>).<sup><a href="#poster">*</a></sup>
</p>
<table class="table table-borderless table-hover">
  <thead class="thead-light">
    <th>Name</th>
    <th colspan="2">URL/API</th>
    <th>Type</th>
  </thead>
  <tbody>
   <% Object.values(items).forEach(item => { %>
    <tr>
      <td>
        <a href="/en/node/<%= item.uri.split("/").pop() %>"><%= item.prefLabel.en %></a>
      </td>
      <td>
       <% if (item.url) { %>
        <a href="<%= item.url %>" title="homepage"><i class="fas fa-home"></i></a>
        <% } %>
      </td>
      <td>
       <% if (item.endpoint) { %>
        <%- include('link', { url: item.endpoint, label: "API" }) %></dd>
       <% } %>
      </td>
      <td>
       <% if (item.type[1] == "http://bartoc.org/full-repository") { %>
         <b><%= item.endpoint ? "service" : "repository" %></b>
       <% } else { %>
         registry
       <% } %>
      </td>
    </tr>
   <% }) %>
  </tbody>
</table>

<hr>
<p id="poster">
  <sup>*</sup> See also our poster
  <i>Terminology Registries and Services</i>
  presented at
  <a href="http://os.helmholtz.de/bewusstsein-schaerfen/workshops/rda-de-16/">Research Data Alliance Deutschland Treffen</a>
  and at <a href="http://swib.org/swib16/">SWIB 2016</a>
  <a href="https://doi.org/10.5281/zenodo.166717">https://doi.org/10.5281/zenodo.166717</a>.
</p>

<%- include('footer') %>
