<%- include('header') %>

<h4>Vocabularies</h4>
<p>
  BARTOC contains information about
  <a href="/vocabularies"><%= schemesCount %> vocabularies</a>.
  The data is <a href="/download">freely available for download</a>.
  See <a href="/tracker">recent changes</a> for modifications.
</p>

<h4>Registries</h4>
<p>
  BARTOC is not the only vocabulary registry.
  We have catalogued <a href="/registries"><%= registriesCount %> terminology registries</a>, including <a href="/registries?type=http://bartoc.org/full-repository">
  <%= repositoriesCount %> repositories or services</a> with full access to
  vocabulary content.
</p>

<h4>More Statistics</h4>
<p>
  See <a href="/data/reports/stats.json">this JSON file</a> for more detailled statistics.
</p>

<% if (reports.length) { %>
<h4>Daily Data Quality Reports</h4>
<p>
  <ul class="list-inline">
  <% for (file of reports) { %>
    <li class="list-inline-item">
      <a href="/data/reports/<%= file %>"><%= file %></a>
    </li>
  <% } %>
  </ul>
</p>
<% } %>

<%- include('footer') %>

