<%- include('header') %>

<p>
<% if (query.subject) { %>
  subject=<%- include('link', { url: query.subject }) %>
<% } %>
</p>

<p><%- result.length %> records found</p>

<hr>

<ul>
<% for (let item of result) { %>
<li>
  <%- include('item', { item, base: '/vocabularies' }) %>
</li>
<% } %>
</ul>

<% if (result.length < result.totalCount) { %>
  <p>TODO: pagination (<%- result.totalCount %> total</p>
<% } %>

<hr>

<%- include('footer') %>
