<%- include('header') %>

<vocabulary-search :query='<%- JSON.stringify(query).replace(/'/g,"&apos;") %>'></vocabulary-search>

<hr>

<%- include("pagination", { result, query }) %>
<ul>
<% for (let item of result) { %>
<li>
  <%- include('item', { item, base: '/vocabularies' }) %>
</li>
<% } %>
</ul>
<%- include("pagination", { result, query }) %>

<hr>

<%- include('footer') %>
